#rate-form .form-group{
    display:inline-block;
}
#rate-form .form{
    margin:0;
}
#rate-form .form-check{
    display:inline-block;
    padding:0;
    margin:0;
}
#rate-form .form-check label{
   visibility:hidden;
}

#rate-form .form-check input{
    margin:0;
}

.btn{
    margin-top: 10px;
    width:150px;
}
#cke_1_top {
    background-color: rgb(245, 244, 244);
    border-bottom: none;
} 
#cke_1_bottom{
    background-color: rgb(245, 244, 244);
    border-top:none;
}

#cke_post{
    border-radius: 5px;
}
#rate-form .form-check #rating-0:checked{
    background:red;
    border: 2px solid red;
}
#rate-form .form-check #rating-1:checked{
    background:orange;
    border: 2px solid orange;
}
#rate-form .form-check #rating-2:checked{
    background:rgb(241, 241, 27);
    border: 2px solid rgb(241, 241, 27);
    ;
}
#rate-form .form-check #rating-3:checked{
    background:blue;
    border: 2px solid blue;
}
#rate-form .form-check #rating-4:checked{
    background:green;
    border: 2px solid green;
}

.vertalign{
    vertical-align: super;
}

.alert .close{
    float:right;
    border: none;
    background-color: inherit;
    padding:0;
    font-size: large;
}

#contributeId{
    display:inline;
    width:25%;
}

#logo{
   font-family: Moms_typewriter;
}
@font-face {
    font-family:Moms_typewriter ;
    src: url(Moms_typewriter.ttf);
}