
{% import "bootstrap/form.html" as wtf %}
{% from 'bootstrap/form.html' import render_form, render_field, render_form_row %}
{% from 'bootstrap/utils.html' import render_static, render_messages, render_icon %}


<html lang="en">
<head>
{% block head %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% block styles %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
{% endblock %}


{% endblock %}
</head>


<body>

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
    <div class="container-fluid">
      <a class="navbar-brand " href="{{ url_for('index') }}" id='logo'>Author-izer |</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link small " aria-current="page" href="{{ url_for('index') }}"><span>{{ render_icon('house') }}</span> Home</a>
          </li>
          <li class="nav-item small">
            <a class="nav-link " href="{{ url_for('explore') }}"><span >{{ render_icon('stack') }}</span> Projects</a>
          </li>
          <li class="nav-item small"><a class="nav-link" href="{{ url_for('completed') }}"><span>{{ render_icon('book') }}</span> Book Shelf</a></li>
        </ul>
        <ul class="navbar-nav  mb-2 mb-lg-0">
           
            {% if current_user.is_anonymous %}
            <li class="nav-item small"><a class="nav-link  text-primary " href="{{ url_for('login') }}"> <span >{{ render_icon('door-closed') }}</span> Login</a></li>
            {% else %}
            <li class="nav-item small"><a class="nav-link " href="{{ url_for('user', username=current_user.username) }}"><span >{{ render_icon('person-fill') }}</span> Profile</a></li>
            <li class="nav-item small"><a class="nav-link text-danger  " href="{{ url_for('logout') }}"> <span ></span >{{ render_icon('power', color='danger') }} </a></li>
            {% endif %}
        </ul>
            

      </div>
    </div>
  </nav>

{% endblock %}

{% block content %}
    <div class="container mt-5">
      {{ render_messages(dismissible=True) }}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}

{% block scripts %}
{{ bootstrap.load_js() }}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='script.js') }}" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
{% endblock %}
</body>
</html>