{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block app_content %}
<h3>Book Shelf</h3>
{% for post in posts %}
{%if post.completed==1 %}
        {% include '_post.html' %}
{%endif%}
{% endfor %}
<nav aria-label="...">
    <ul class="pager">
        {% if not prev_url %}
        <li class='btn-sm rounded-pill btn-outline-light d-inline'>
            <a type="button" class="btn-outline-light text-decoration-none" href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        {%elif prev_url%}
        <li class="btn-sm rounded-pill btn-secondary d-inline">
            <a type="button" class="btn-outline-light text-decoration-none" href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        {% endif %}
        {% if not next_url %}
        <li  class='btn-sm rounded-pill btn-outline-light d-inline float-end' >
            <a type="button" class="btn-outline-light text-decoration-none " href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
        {%elif next_url%}
        <li  class="btn-sm rounded-pill btn-secondary d-inline float-end ">
            <a type="button" class="btn-outline-light text-decoration-none " href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}