{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}


{% block app_content %}
<div class=" mb-3 d-block">
    <a class='text-decoration-none text-danger' href="{{ url_for('index') }}"> <span>{{ render_icon('arrow-left-circle') }}</span></a>
</div>




<div class="container ">
    <h2 class='d-block'>Edit Your Book</h2>
                {% if form %}
                <div class="row">
                    <div class="col">
                {{ wtf.render_form(form,button_style="warning rounded-pill float-end") }}
                {{ ckeditor.load() }}
                    </div>
                </div>
                {% endif %}
        </div>
<hr>
                <div class="row">
                    <div class="col ">
                {{ wtf.render_form(form2) }}
                    </div>
                </div>

{% endblock %}