{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block app_content %}
   
        <h1 class='text-success d-inline'>{{ current_user.username.capitalize() }}</h1>
            {%if authorate >=80%}
            <span class='badge bg-success text-wrap d-inline'> {{authorate}}% of {{total(username=current_user.username)}}</span> 
            {%elif 80>authorate >=50 %}
            <span class='badge bg-warning text-wrap d-inline'> {{authorate}}% of {{total(username=current_user.username)}}</span> 
            {%elif authorate<50 %}
            <span class='badge bg-danger text-wrap d-inline'> {{authorate}}% of {{total(username=current_user.username)}} </span> 
            {%endif%}

    {% if form %}
    {{ wtf.render_form(form) }}
    {{ ckeditor.load() }}
    <br>
    <hr>
    {% endif %}
    {% for post in posts %}
        {%if post.completed!=1 %}
        {% include '_post.html' %}
        {%endif%}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            {% if not prev_url %}
            <li class='btn-sm rounded-pill btn-outline-light d-inline'>
                <a type="button" class="btn-outline-light text-decoration-none" href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            {%elif prev_url%}
            <li class="btn-sm rounded-pill btn-secondary d-inline">
                <a type="button" class="btn-outline-light text-decoration-none" href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            {% endif %}
            {% if not next_url %}
            <li  class='btn-sm rounded-pill btn-outline-light d-inline float-end' >
                <a type="button" class="btn-outline-light text-decoration-none " href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
            {%elif next_url%}
            <li  class="btn-sm rounded-pill btn-secondary d-inline float-end ">
                <a type="button" class="btn-outline-light text-decoration-none " href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}