{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block app_content %}
   
        <h1 class='text-success d-inline '>{{ current_user.username.capitalize() }}</h1>
        <div class='d-inline col'>
            {%if authorate >=80%}
            <span class='badge bg-success text-wrap rounded-pill '> {{authorate}}% of {{total(username=current_user.username)}}</span> 
            {%elif 80>authorate >=50 %}
            <span class='badge bg-warning text-wrap  rounded-pill  '> {{authorate}}% of {{total(username=current_user.username)}}</span> 
            {%elif authorate<50 %}
            <span class='badge bg-danger text-wrap rounded-pill '> {{authorate}}% of {{total(username=current_user.username)}} </span> 
            {%endif%}
        </div>
    {% if form %}
    {{ wtf.render_form(form) }}
    {{ ckeditor.load() }}
    <br>
    {% endif %}
    <div class='container'>
    <table class="table">
        <thead>
          <tr class='mb-5 bg-body row-cols-5'>
            <th scope="col-sm-2">Author</th>
            <th scope="col-sm-2">Title</th>
            <th scope="col-sm-2">Subtitle</th>
            <th scope="col-sm-2">Options</th>
            <th scope="col-sm-2">  </th>
          </tr>
        </thead>
    </table>
    </div>
    {% for post in posts %}
        {%if post.completed!=1 %}
        {% include '_post.html' %}
        {%endif%}
    {% endfor %}

    <nav aria-label="...">
        <ul class="pager">
            {% if not prev_url %}
            <li class='btn-sm rounded-pill btn-outline-light d-inline'>
                <a type="button" class="btn-outline-light text-decoration-none" href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            {%elif prev_url%}
            <li class="btn-sm rounded-pill btn-secondary d-inline">
                <a type="button" class="btn-outline-light text-decoration-none" href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer posts
                </a>
            </li>
            {% endif %}
            {% if not next_url %}
            <li  class='btn-sm rounded-pill btn-outline-light d-inline float-end' >
                <a type="button" class="btn-outline-light text-decoration-none " href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
            {%elif next_url%}
            <li  class="btn-sm rounded-pill btn-secondary d-inline float-end ">
                <a type="button" class="btn-outline-light text-decoration-none " href="{{ next_url or '#' }}">
                    Older posts <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}