{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}

{% block app_content %}
<div class="container">
    <h3 class= 'text-primary'>Author-izer</h3>
    <h1>Sign In</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.render_form(form) }}
        </div>
    </div>
    <br>
    <p>New User? <a href="{{ url_for('register') }}" class='btn btn-sm rounded-pill btn-outline-success mt-0'>Click to Register!</a></p>
    <p>
        Forgot Your Password?
        <a href="{{ url_for('reset_password_request') }}" class='text-decoration-none text-danger'>Click to Reset It</a>
    </p>
{% endblock %}