{% extends "base.html" %}

{% block app_content %}
<div>
    <a class='text-decoration-none text-danger mb-3' href="{{ url_for('index') }}"> <span>{{ render_icon('arrow-left-circle') }}</span></a> 
</div>


<div class="container float-start">

</div>
<br>
<div class='container'>
    <table class=" tabel ">
        <tr class='row align-items-center'>
                <p><strong>Author: </strong>{{ post.author.username.capitalize() }}

                {%if authorate >=80%}
                <span class='badge bg-success text-wrap d-inline rounded-pill'> {{authorate}}% of {{total(username=post.author.username)}}</span> 
                {%elif 80>authorate >=50 %}
                <span class='badge bg-warning text-wrap d-inline rounded-pill'> {{authorate}}% of {{total(username=post.author.username)}}</span> 
                {%elif authorate<50 %}
                <span class='badge bg-danger text-wrap d-inline rounded-pill'> {{authorate}}% of {{total(username=post.author.username)}} </span> 
                {%endif%}

        </tr>

        <tr >
        {%for cont in conts%}
            <p><strong>Co-Author:  </strong> {{ cont.contributor.capitalize()}} 
                {%if 80<= user_rating(username=cont.contributor) %}
                <span class='badge bg-success text-wrap d-inline'> {{user_rating(username=cont.contributor)}}% of {{total(username=cont.contributor)}}</span> </p>
                {%elif 80 > user_rating(username=cont.contributor) >=50 %}
                <span class='badge bg-warning text-wrap d-inline'> {{user_rating(username=cont.contributor)}}% of {{total(username=cont.contributor)}}</span> </p>
                {%elif user_rating(username=cont.contributor) <50 %}
                <span class='badge bg-danger text-wrap d-inline'> {{user_rating(username=cont.contributor)}}% of {{total(username=cont.contributor)}} </span> </p>
                {%endif%}

        {%endfor%}

        </tr>
        <hr>
        <tr>
            <p><strong>{{post.subtitle}}: </strong> </p>
            {{post.body | safe}}
        <br>

        </tr>
        <tr>
            {%for cont in conts%}
                {%if cont.accepted == 1%}
                    <p><strong>+ ID: {{cont.id}}({{cont.contributor}}) | {{cont.subtitle}}:   </strong> <span>{{ render_icon('check-circle-fill', color='success',size=25) }}</span> </p>
                    {{ cont.body | safe}}
                {%elif post.user_id == current_user.id and cont.accepted ==None and post.completed !=1%}
                <p><strong>+ ID: {{cont.id}}({{cont.contributor}}) | {{cont.subtitle}}:  </strong> <span>{{ render_icon('x-circle-fill', color='danger',size=25) }}</span> </p>
                    {{ cont.body | safe}}
                {%elif post.user_id == current_user.id and cont.accepted ==0 and post.completed !=1%}  
                <p><strong>+ ID: {{cont.id}}({{cont.contributor}}) | {{cont.subtitle}}:  </strong> (Waiting...)<span>{{ render_icon('hourglass-split', color='orange', size=25) }}</span> </p>
                    {{ cont.body | safe}}
                    {%endif%}
                {%endfor%}
        <br>
        </tr>
    </table>

<hr>

{%if post.user_id == current_user.id and post.completed !=1%}

<div class="container row">
    <div class="col-4">
        <h5>Decide what contribution to keep</h5>
    {{wtf.render_form(form2, button_map={'accept': 'success rounded-pill d-block', 'reject': 'danger rounded-pill d-block'}, button_size='sm') }}
    </div>
</div>
<hr>

</div>
<div class="row">
    <div class="col ">

{{ wtf.render_form(form) }}
    </div>
</div>
{%endif%}

{% endblock %}