{% extends "base.html" %}
{% import 'bootstrap/form.html' as wtf %}
{% block app_content %}

<table class="container">
    <tr>
        <td>
            <h1 class='d-inline'>{{ user.username.capitalize() }}</h1><h3 class='d-inline'>'s Profile Page</h3>
            {%if authorate >=80%}
            <span class='badge bg-success text-wrap d-inline rounded-pill'> {{authorate}}% of {{total(username=user.username)}}</span> 
            {%elif 80>authorate >=50 %}
            <span class='badge bg-warning text-wrap d-inline rounded-pill'> {{authorate}}% of {{total(username=user.username)}}</span> 
            {%elif authorate<50 %}
            <span class='badge bg-danger text-wrap d-inline rounded-pill'> {{authorate}}% of {{total(username=user.username)}} </span> 
            {%endif%}
            {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
            {% if user.last_seen %}
                    <p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>
                    {% endif %}
            <p><span>{{ render_icon('people') }}</span>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
            {% if user != current_user %}
            <a class="btn btn-sm rounded-pill btn-outline-primary text-decoration-none"  href="{{ url_for('send_message', recipient=user.username) }}">
            Send message</a>
            {% endif %}
            {% if user == current_user %}
            <p class="btn-sm rounded-pill btn-outline-light float-start"><a class='text-decoration-none text-success ' href="{{ url_for('edit_profile') }}">Edit profile</a></p>
            {% elif not current_user.is_following(user) %}
            <p>
                <form action="{{ url_for('follow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Follow', class='btn btn-sm rounded-pill btn-outline-primary') }}
                </form>
            </p>
            {% else %}
            <p>
                <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Unfollow', class='btn btn-sm rounded-pill btn-outline-danger') }}
                </form>
            </p>
            {% endif %}
        </td>
    </tr>
        
</table>
<div class='container'>
    <table class="table">
        <thead>
          <tr class='mb-5 bg-body row-cols-5'>
            <th scope="col-sm-2">Author</th>
            <th scope="col-sm-2">Title</th>
            <th scope="col-sm-2">Subtitle</th>
            <th scope="col-sm-2">Options</th>
            <th scope="col-sm-2">  </th>
          </tr>
        </thead>
    </table>
    </div>
    {% for post in posts %}
    {% include '_post.html' %}
{% endfor %}
<nav aria-label="...">
    <ul class="pager">
        {% if not prev_url %}
        <li class='btn-sm rounded-pill btn-outline-light d-inline'>
            <a type="button" class="btn-outline-light text-decoration-none" href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        {%elif prev_url%}
        <li class="btn-sm rounded-pill btn-secondary d-inline">
            <a type="button" class="btn-outline-light text-decoration-none" href="{{ prev_url or '#' }}">
                <span aria-hidden="true">&larr;</span> Newer posts
            </a>
        </li>
        {% endif %}
        {% if not next_url %}
        <li  class='btn-sm rounded-pill btn-outline-light d-inline float-end' >
            <a type="button" class="btn-outline-light text-decoration-none " href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
        {%elif next_url%}
        <li  class="btn-sm rounded-pill btn-secondary d-inline float-end ">
            <a type="button" class="btn-outline-light text-decoration-none " href="{{ next_url or '#' }}">
                Older posts <span aria-hidden="true">&rarr;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}